<!--<div class="limiter">-->
<!--    <div class="container-table100">-->
<!--        <div class="wrap-table100">-->
<!--            <div class="table100 ver1 m-b-110">-->
<!--                <div class="table100-head">-->
<!--                    <table>-->
<!--                        <thead>-->
<!--                        <tr class="row100 head">-->
<!--                            <th class="cell100 column1">Class name</th>-->
<!--                            <th class="cell100 column2">Type</th>-->
<!--                            <th class="cell100 column3">Hours</th>-->
<!--                            <th class="cell100 column4">Trainer</th>-->
<!--                            <th class="cell100 column5">Spots</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                    </table>-->
<!--                </div>-->

<!--                <div class="table100-body js-pscroll">-->
<!--                    <table>-->
<!--                        <tbody>-->
<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Like a butterfly</td>-->
<!--                            <td class="cell100 column2">Boxing</td>-->
<!--                            <td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
<!--                            <td class="cell100 column4">Aaron Chapman</td>-->
<!--                            <td class="cell100 column5">10</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Mind & Body</td>-->
<!--                            <td class="cell100 column2">Yoga</td>-->
<!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
<!--                            <td class="cell100 column4">Adam Stewart</td>-->
<!--                            <td class="cell100 column5">15</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Crit Cardio</td>-->
<!--                            <td class="cell100 column2">Gym</td>-->
<!--                            <td class="cell100 column3">9:00 AM - 10:00 AM</td>-->
<!--                            <td class="cell100 column4">Aaron Chapman</td>-->
<!--                            <td class="cell100 column5">10</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Wheel Pose Full Posture</td>-->
<!--                            <td class="cell100 column2">Yoga</td>-->
<!--                            <td class="cell100 column3">7:00 AM - 8:30 AM</td>-->
<!--                            <td class="cell100 column4">Donna Wilson</td>-->
<!--                            <td class="cell100 column5">15</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Playful Dancer's Flow</td>-->
<!--                            <td class="cell100 column2">Yoga</td>-->
<!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
<!--                            <td class="cell100 column4">Donna Wilson</td>-->
<!--                            <td class="cell100 column5">10</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Zumba Dance</td>-->
<!--                            <td class="cell100 column2">Dance</td>-->
<!--                            <td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
<!--                            <td class="cell100 column4">Donna Wilson</td>-->
<!--                            <td class="cell100 column5">20</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Cardio Blast</td>-->
<!--                            <td class="cell100 column2">Gym</td>-->
<!--                            <td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
<!--                            <td class="cell100 column4">Randy Porter</td>-->
<!--                            <td class="cell100 column5">10</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Pilates Reformer</td>-->
<!--                            <td class="cell100 column2">Gym</td>-->
<!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
<!--                            <td class="cell100 column4">Randy Porter</td>-->
<!--                            <td class="cell100 column5">10</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Supple Spine and Shoulders</td>-->
<!--                            <td class="cell100 column2">Yoga</td>-->
<!--                            <td class="cell100 column3">6:30 AM - 8:00 AM</td>-->
<!--                            <td class="cell100 column4">Randy Porter</td>-->
<!--                            <td class="cell100 column5">15</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Yoga for Divas</td>-->
<!--                            <td class="cell100 column2">Yoga</td>-->
<!--                            <td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
<!--                            <td class="cell100 column4">Donna Wilson</td>-->
<!--                            <td class="cell100 column5">20</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Virtual Cycle</td>-->
<!--                            <td class="cell100 column2">Gym</td>-->
<!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
<!--                            <td class="cell100 column4">Randy Porter</td>-->
<!--                            <td class="cell100 column5">20</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Like a butterfly</td>-->
<!--                            <td class="cell100 column2">Boxing</td>-->
<!--                            <td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
<!--                            <td class="cell100 column4">Aaron Chapman</td>-->
<!--                            <td class="cell100 column5">10</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Mind & Body</td>-->
<!--                            <td class="cell100 column2">Yoga</td>-->
<!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
<!--                            <td class="cell100 column4">Adam Stewart</td>-->
<!--                            <td class="cell100 column5">15</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Crit Cardio</td>-->
<!--                            <td class="cell100 column2">Gym</td>-->
<!--                            <td class="cell100 column3">9:00 AM - 10:00 AM</td>-->
<!--                            <td class="cell100 column4">Aaron Chapman</td>-->
<!--                            <td class="cell100 column5">10</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Wheel Pose Full Posture</td>-->
<!--                            <td class="cell100 column2">Yoga</td>-->
<!--                            <td class="cell100 column3">7:00 AM - 8:30 AM</td>-->
<!--                            <td class="cell100 column4">Donna Wilson</td>-->
<!--                            <td class="cell100 column5">15</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Playful Dancer's Flow</td>-->
<!--                            <td class="cell100 column2">Yoga</td>-->
<!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
<!--                            <td class="cell100 column4">Donna Wilson</td>-->
<!--                            <td class="cell100 column5">10</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Zumba Dance</td>-->
<!--                            <td class="cell100 column2">Dance</td>-->
<!--                            <td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
<!--                            <td class="cell100 column4">Donna Wilson</td>-->
<!--                            <td class="cell100 column5">20</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Cardio Blast</td>-->
<!--                            <td class="cell100 column2">Gym</td>-->
<!--                            <td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
<!--                            <td class="cell100 column4">Randy Porter</td>-->
<!--                            <td class="cell100 column5">10</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Pilates Reformer</td>-->
<!--                            <td class="cell100 column2">Gym</td>-->
<!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
<!--                            <td class="cell100 column4">Randy Porter</td>-->
<!--                            <td class="cell100 column5">10</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Supple Spine and Shoulders</td>-->
<!--                            <td class="cell100 column2">Yoga</td>-->
<!--                            <td class="cell100 column3">6:30 AM - 8:00 AM</td>-->
<!--                            <td class="cell100 column4">Randy Porter</td>-->
<!--                            <td class="cell100 column5">15</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Yoga for Divas</td>-->
<!--                            <td class="cell100 column2">Yoga</td>-->
<!--                            <td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
<!--                            <td class="cell100 column4">Donna Wilson</td>-->
<!--                            <td class="cell100 column5">20</td>-->
<!--                        </tr>-->

<!--                        <tr class="row100 body">-->
<!--                            <td class="cell100 column1">Virtual Cycle</td>-->
<!--                            <td class="cell100 column2">Gym</td>-->
<!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
<!--                            <td class="cell100 column4">Randy Porter</td>-->
<!--                            <td class="cell100 column5">20</td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div *ngIf="isDrillDown" class="drill-down-header">
    <div class="drill-down-acions">
        <button (click)="hideDrillDownDetails()"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
    <div class="drill-down-title">
        {{title}}
    </div>
    <div></div>
</div>

<!--[(ngModel)]="selectedItems"-->
<!--(onSelect)="onItemSelect($event)"-->
<!--(onSelectAll)="onSelectAll($event)"-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 filter-container">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <ng-multiselect-dropdown
                [placeholder]="'Select attribute(s) to view'"
                [settings]="dropdownSettings"
                [data]="attributesList"
                [(ngModel)]="attributesFilter"
                (onSelect)="onAttributeSelect($event)"
                (onDeSelect)="onAttributeDeSelect($event)"
                (onSelectAll)="onAttributeSelectAll($event)"
                (onDeSelectAll)="onAttributeDeSelectAll($event)"
        >
        </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <ng-multiselect-dropdown
                [placeholder]="'Select attribute(s) to search instantly'"
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [(ngModel)]="filterData"
        >
        </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-11 col-xs-11 filter-action">
        <input [(ngModel)]="searchText" (ngModelChange)="checkFilter()" class="form-control searchNode"
               name="searchText" placeholder="Enter the text to filter rows on multiple attributes"
               type="text">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 filter-action">
        <i (click)="download()" class="fa fa-download download-icon"></i>
    </div>
</div>
<!--<angular2-multiselect [(ngModel)]="filterData" [data]="itemList" [settings]="settings"-->
<!--                      name="filterData" ngDefaultControl></angular2-multiselect>-->
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <!--                <div class="table100-head">-->
                <!--                    <table>-->
                <!--                        <thead>-->
                <!--                        &lt;!&ndash;                        <tr class="row100 head">&ndash;&gt;-->
                <!--                        &lt;!&ndash;                            <th class="cell100 column1">Class name</th>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                            <th class="cell100 column2">Type</th>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                            <th class="cell100 column3">Hours</th>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                            <th class="cell100 column4">Trainer</th>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                            <th class="cell100 column5">Spots</th>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                        </tr>&ndash;&gt;-->
                <!--                        <tr class="row100 head">-->
                <!--                            <th *ngFor="let key of getKeys(data[0]); let i=index" class="{{getClass('cell100', 0)}}">-->
                <!--                                {{key}}-->
                <!--                            </th>-->
                <!--                        </tr>-->
                <!--                        </thead>-->
                <!--                    </table>-->
                <!--                </div>-->

                <div class="table100-body js-pscroll">
                    <table #mf="mfDataTable" [mfData]="filteredData" class="">
                        <thead>
                        <tr class="row100 head">
                            <th *ngFor="let key of getKeys(mf.data[0]); let i=index" mfSortByChange>
                                <div class="table-head"
                                     [ngClass]="i==0?'table-head-first-child':i==getKeys(filteredData[0]).length-1?'table-head-last-child':''"
                                     *ngIf="key!=='id' && itemList.includes(key)">
                                    <mfDefaultSorter by="{{key}}"><span
                                            class="table-key-text">{{getReadableFormat(key)}}</span></mfDefaultSorter>
                                    <i class="fa fa-filter filter-icon" (click)="toggleQueryFilter(key)"></i>

                                    <i *ngIf="queryFilterData[key] && queryFilterData[key].filterData && queryFilterData[key].filterData.length"
                                       class="fa fa-times-rectangle-o filter-icon" (click)="clearFilter(key, false)"></i>
                                </div>
                                <!--                                <mat-menu #menu="matMenu">-->
                                <!--                                    <div>-->
                                <!--                                        Hi..-->
                                <!--                                        <ng-multiselect-dropdown-->
                                <!--                                                [placeholder]="'Select attribute(s) to search instantly'"-->
                                <!--                                                [settings]="dropdownSettings"-->
                                <!--                                                [data]="dropdownList"-->
                                <!--                                                [(ngModel)]="filterData"-->
                                <!--                                        >-->
                                <!--                                        </ng-multiselect-dropdown>-->
                                <!--                                    </div>-->
                                <!--&lt;!&ndash;                                    <button mat-menu-item>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                        <mat-icon>dialpad</mat-icon>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                        <span>Redial</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                    </button>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                    <button mat-menu-item disabled>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                        <mat-icon>voicemail</mat-icon>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                        <span>Check voice mail</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                    </button>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                    <button mat-menu-item>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                        <mat-icon>notifications_off</mat-icon>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                        <span>Disable alerts</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                    </button>&ndash;&gt;-->
                                <!--                                </mat-menu>-->
                                <div *ngIf="showQueryFilter && showQueryFilter[key]" class="filter-query-container">
                                    <div class="query-filter-action-container">
                                        <button mat-button class="gilded-button" (click)="clearFilter(key)">Clear
                                        </button>
                                        <button mat-button class="gilded-button" (click)="applyQueryFilters(key)">
                                            Apply
                                        </button>
                                    </div>
                                    <div class="query-filter-selector">
                                        <ng-multiselect-dropdown
                                                [placeholder]="'Select ' + getReadableFormat(key) + ' to filter'"
                                                [settings]="showQueryFilter && showQueryFilter[key]?queryFilterDropdownSettings:null"
                                                [data]="queryFilterData[key].dropdownList"
                                                [(ngModel)]="queryFilterData[key].filterData"
                                        >
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let record of mf.data; let recordId=index">
                            <td *ngFor="let key of getKeys(record); let i=index">
                                <div class="row100 body" [ngClass]="i===0?'table-data-first-child':''"
                                     *ngIf="key!=='id' && itemList.includes(key)">
                                    {{getActualData(record[key], key, title, recordId)}}
                                </div>
                            </td>
                        </tr>
                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Like a butterfly</td>-->
                        <!--                            <td class="cell100 column2">Boxing</td>-->
                        <!--                            <td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Aaron Chapman</td>-->
                        <!--                            <td class="cell100 column5">10</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Mind & Body</td>-->
                        <!--                            <td class="cell100 column2">Yoga</td>-->
                        <!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Adam Stewart</td>-->
                        <!--                            <td class="cell100 column5">15</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Crit Cardio</td>-->
                        <!--                            <td class="cell100 column2">Gym</td>-->
                        <!--                            <td class="cell100 column3">9:00 AM - 10:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Aaron Chapman</td>-->
                        <!--                            <td class="cell100 column5">10</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Wheel Pose Full Posture</td>-->
                        <!--                            <td class="cell100 column2">Yoga</td>-->
                        <!--                            <td class="cell100 column3">7:00 AM - 8:30 AM</td>-->
                        <!--                            <td class="cell100 column4">Donna Wilson</td>-->
                        <!--                            <td class="cell100 column5">15</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Playful Dancer's Flow</td>-->
                        <!--                            <td class="cell100 column2">Yoga</td>-->
                        <!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Donna Wilson</td>-->
                        <!--                            <td class="cell100 column5">10</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Zumba Dance</td>-->
                        <!--                            <td class="cell100 column2">Dance</td>-->
                        <!--                            <td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--                            <td class="cell100 column4">Donna Wilson</td>-->
                        <!--                            <td class="cell100 column5">20</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Cardio Blast</td>-->
                        <!--                            <td class="cell100 column2">Gym</td>-->
                        <!--                            <td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--                            <td class="cell100 column4">Randy Porter</td>-->
                        <!--                            <td class="cell100 column5">10</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Pilates Reformer</td>-->
                        <!--                            <td class="cell100 column2">Gym</td>-->
                        <!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Randy Porter</td>-->
                        <!--                            <td class="cell100 column5">10</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Supple Spine and Shoulders</td>-->
                        <!--                            <td class="cell100 column2">Yoga</td>-->
                        <!--                            <td class="cell100 column3">6:30 AM - 8:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Randy Porter</td>-->
                        <!--                            <td class="cell100 column5">15</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Yoga for Divas</td>-->
                        <!--                            <td class="cell100 column2">Yoga</td>-->
                        <!--                            <td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Donna Wilson</td>-->
                        <!--                            <td class="cell100 column5">20</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Virtual Cycle</td>-->
                        <!--                            <td class="cell100 column2">Gym</td>-->
                        <!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Randy Porter</td>-->
                        <!--                            <td class="cell100 column5">20</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Like a butterfly</td>-->
                        <!--                            <td class="cell100 column2">Boxing</td>-->
                        <!--                            <td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Aaron Chapman</td>-->
                        <!--                            <td class="cell100 column5">10</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Mind & Body</td>-->
                        <!--                            <td class="cell100 column2">Yoga</td>-->
                        <!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Adam Stewart</td>-->
                        <!--                            <td class="cell100 column5">15</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Crit Cardio</td>-->
                        <!--                            <td class="cell100 column2">Gym</td>-->
                        <!--                            <td class="cell100 column3">9:00 AM - 10:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Aaron Chapman</td>-->
                        <!--                            <td class="cell100 column5">10</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Wheel Pose Full Posture</td>-->
                        <!--                            <td class="cell100 column2">Yoga</td>-->
                        <!--                            <td class="cell100 column3">7:00 AM - 8:30 AM</td>-->
                        <!--                            <td class="cell100 column4">Donna Wilson</td>-->
                        <!--                            <td class="cell100 column5">15</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Playful Dancer's Flow</td>-->
                        <!--                            <td class="cell100 column2">Yoga</td>-->
                        <!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Donna Wilson</td>-->
                        <!--                            <td class="cell100 column5">10</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Zumba Dance</td>-->
                        <!--                            <td class="cell100 column2">Dance</td>-->
                        <!--                            <td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--                            <td class="cell100 column4">Donna Wilson</td>-->
                        <!--                            <td class="cell100 column5">20</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Cardio Blast</td>-->
                        <!--                            <td class="cell100 column2">Gym</td>-->
                        <!--                            <td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--                            <td class="cell100 column4">Randy Porter</td>-->
                        <!--                            <td class="cell100 column5">10</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Pilates Reformer</td>-->
                        <!--                            <td class="cell100 column2">Gym</td>-->
                        <!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Randy Porter</td>-->
                        <!--                            <td class="cell100 column5">10</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Supple Spine and Shoulders</td>-->
                        <!--                            <td class="cell100 column2">Yoga</td>-->
                        <!--                            <td class="cell100 column3">6:30 AM - 8:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Randy Porter</td>-->
                        <!--                            <td class="cell100 column5">15</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Yoga for Divas</td>-->
                        <!--                            <td class="cell100 column2">Yoga</td>-->
                        <!--                            <td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Donna Wilson</td>-->
                        <!--                            <td class="cell100 column5">20</td>-->
                        <!--                        </tr>-->

                        <!--                        <tr class="row100 body">-->
                        <!--                            <td class="cell100 column1">Virtual Cycle</td>-->
                        <!--                            <td class="cell100 column2">Gym</td>-->
                        <!--                            <td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--                            <td class="cell100 column4">Randy Porter</td>-->
                        <!--                            <td class="cell100 column5">20</td>-->
                        <!--                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
