<div *ngIf="isDrillDown" class="drill-down-header">
    <div class="drill-down-acions">
        <button (click)="hideDrillDownDetails()"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
    <div class="drill-down-title">
        {{title}}
    </div>
    <div></div>
</div>

<!--[(ngModel)]="selectedItems"-->
<!--(onSelect)="onItemSelect($event)"-->
<!--(onSelectAll)="onSelectAll($event)"-->

<div class="date-filter-container">
    <div class="date-text"> From</div>
    <div class="start-date-filter">
        <input type="date" class="form-control date-input" id="startDate" (input)="selectStartDate()"
               min="{{minStartDate}}"
               max="{{today | date:'yyyy-MM-dd'}}" [(ngModel)]="startDate">
    </div>
    <div class="date-text">To</div>
    <div class="end-date-filter">
        <input type="date" class="form-control date-input" id="endDate" (input)="selectEndDate()" min="{{minEndDate}}"
               max="{{today | date:'yyyy-MM-dd'}}" [(ngModel)]="endDate">
    </div>

</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 filter-container">
    <!--    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1">-->
    <!--        <button (click)="toggleAttributesFilter()" mat-button class="gilded-button">Fileds</button>-->
    <!--        <div *ngIf="showAttributesFilter" class="filter-query-container">-->
    <!--            <div *ngFor="let col of columns">-->
    <!--                <mat-checkbox>{{col}}</mat-checkbox>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 date-filter-container">-->
    <!--&lt;!&ndash;        <div class="date-text"> From</div>&ndash;&gt;-->
    <!--        <div class="start-date-filter">-->
    <!--            From-->
    <!--            <input type="date" class="form-control date-input" id="startDate" (input)="selectStartDate()"-->
    <!--                   min="{{minStartDate}}"-->
    <!--                   max="{{today | date:'yyyy-MM-dd'}}" [(ngModel)]="startDate">-->
    <!--        </div>-->
    <!--&lt;!&ndash;        <div class="date-text">To</div>&ndash;&gt;-->
    <!--        <div class="end-date-filter">-->
    <!--            To-->
    <!--            <input type="date" class="form-control date-input" id="endDate" (input)="selectEndDate()"-->
    <!--                   min="{{minEndDate}}"-->
    <!--                   max="{{today | date:'yyyy-MM-dd'}}" [(ngModel)]="endDate">-->
    <!--        </div>-->

    <!--    </div>-->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <ng-multiselect-dropdown
                [placeholder]="'Select attribute(s) to view'"
                [settings]="attributesDropdownSettings"
                [data]="attributesList"
                [(ngModel)]="attributesFilter"
                (onSelect)="onAttributeSelect($event)"
                (onDeSelect)="onAttributeDeSelect($event)"
                (onSelectAll)="onAttributeSelectAll($event)"
                (onDeSelectAll)="onAttributeDeSelectAll($event)"
        >
        </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <ng-multiselect-dropdown
                [placeholder]="'Select attribute(s) to search instantly'"
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [(ngModel)]="filterData"
        >
        </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-11 col-xs-11 filter-action">
        <input [(ngModel)]="searchText" (ngModelChange)="checkFilter()" class="form-control searchNode"
               name="searchText" placeholder="Enter the text to filter rows on multiple attributes"
               type="text">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 filter-action">
        <i (click)="download()" class="fa fa-download download-icon"></i>
    </div>
    <!--    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--        <mat-label>Enter a date range</mat-label>-->
    <!--        <mat-date-range-input>-->
    <!--            <input matStartDate placeholder="Start date">-->
    <!--            <input matEndDate placeholder="End date">-->
    <!--        </mat-date-range-input>-->
    <!--        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--        <mat-date-range-picker #picker></mat-date-range-picker>-->
    <!--    </div>-->
</div>
<!--<angular2-multiselect [(ngModel)]="filterData" [data]="itemList" [settings]="settings"-->
<!--                      name="filterData" ngDefaultControl></angular2-multiselect>-->
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <div class="table100-body js-pscroll">
                    <table #mf="mfDataTable" [mfData]="filteredData" [(ngModel)]="filteredData" class="">
                        <thead style="position: sticky !important; top: 0px; z-index: 9">
                        <tr class="row100 head">
                            <th *ngFor="let key of itemList; let i=index" mfSortByChange>
                                <div class="table-head"
                                     [ngClass]="i==0?'table-head-first-child':i==getKeys(filteredData[0]).length-1?'table-head-last-child':''"
                                     *ngIf="key!=='id' && itemList.includes(key)">
                                    <mfDefaultSorter by="{{key}}"><span
                                            class="table-key-text">{{getReadableFormat(key)}}</span></mfDefaultSorter>
                                    <i class="fa fa-filter filter-icon" (click)="toggleQueryFilter(key)"></i>

                                    <i *ngIf="queryFilterData[key] && queryFilterData[key].filterData && queryFilterData[key].filterData.length"
                                       class="fa fa-times-rectangle-o filter-icon"
                                       (click)="clearFilter(key, false)"></i>
                                </div>
                                <div *ngIf="showQueryFilter && showQueryFilter[key]"
                                     [ngStyle]="{'margin-left':getQueryFilterStyle(i)}"
                                     class="filter-query-container filter-query">
                                    <div class="query-filter-action-container">
                                        <button mat-button class="gilded-button" (click)="clearFilter(key)">Clear
                                        </button>
                                        <button mat-button class="gilded-button" (click)="applyQueryFilters(key)">
                                            Apply
                                        </button>
                                    </div>
                                    <div class="query-filter-selector">
                                        <ng-multiselect-dropdown
                                                [placeholder]="'Select ' + getReadableFormat(key) + ' to filter'"
                                                [settings]="showQueryFilter && showQueryFilter[key]?queryFilterDropdownSettings:null"
                                                [data]="queryFilterData[key].dropdownList"
                                                [(ngModel)]="queryFilterData[key].filterData"
                                        >
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                            </th>
                            <!--                            <th>-->

                            <!--                            </th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container
                                *ngFor="let record of mf.data| slice: (currentPageDisplayed-1) * itemsPerPage : currentPageDisplayed * itemsPerPage; let recordId=index">
                            <tr>
                                <td *ngFor="let key of itemList; let i=index">
                                    <div class="row100 body table-cell-data">
                                        <div class="row100 body cell-data" [ngClass]="i===0?'table-data-first-child':''"
                                             *ngIf="key!=='id' && key!==remediateKey && itemList.includes(key)">
                                            <div *ngIf="record[key]!==null">{{getActualData(record[key], key, title, recordId)}}</div>
                                            <div *ngIf="record[key]===null">null</div>
                                            <div>
                                                <i class="show-details-icon"
                                                   [ngClass]="!showExpansionPanel[recordId]?'fa fa-eye':'fa fa-eye-slash'"
                                                   (click)="toggleExpansionPanel(recordId)"
                                                   *ngIf="key===expandKey && record[expandKey] && record[expandKey]>0"></i>
                                            </div>
                                        </div>
                                        <div class="row100 body {{record[key]}}"
                                             [matTooltip]="getActualData(record[key], key, title, recordId)"
                                             [ngClass]="i===0?'table-data-first-child':''"
                                             *ngIf="key===remediateKey && itemList.includes(key)">
                                            {{record[key] === true ? 'PASS' : record[key] === false ? 'FAIL' : record[key]}}
                                        </div>
                                        <div *ngIf="key===remediateKey && remediateIdentifiers.includes(record[key]) && itemList.includes(key)"
                                             class="row100 body">
                                            <button mat-button class="gilded-button remediate-button"
                                                    (click)="showRemediations(record)">Remediate
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <!--                                <td>-->
                                <!--                                    <div (click)="toggleExpansionPanel(recordId)"-->
                                <!--                                         *ngIf="!showExpansionPanel[recordId] && record.noOfAttempts && record.noOfAttempts>0"-->
                                <!--                                         class="row100-body toggle-detail-text">More-->
                                <!--                                    </div>-->
                                <!--                                    <div (click)="toggleExpansionPanel(recordId)"-->
                                <!--                                         *ngIf="showExpansionPanel[recordId] && record.noOfAttempts && record.noOfAttempts>0"-->
                                <!--                                         class="row100-body toggle-detail-text">Less-->
                                <!--                                    </div>-->
                                <!--                                </td>-->
                            </tr>
                            <tr *ngIf="showExpansionPanel[recordId]" style="margin:1rem">
                                <td [colSpan]="columns.length + 1">
                                    <div class="details-table-container">
                                        <table #mf="mfDataTable" [mfData]="kycHistory[record.account_no]"
                                               class="details-table">
                                            <thead>
                                            <tr class="row100 head">
                                                <th *ngFor="let key of expandedTableFields; let i=index"
                                                    class="details-table-cell-header"
                                                    [ngClass]="i==0?'table-head-first-child':i==expandedTableFields.length-1?'table-head-last-child':''"
                                                    mfSortByChange>
                                                    <div *ngIf="key!=='id' && key!=='account_no' && key!=='full_response' && key!=='filter_response' && key!=='required_response'"
                                                         class="table-head"
                                                         [ngClass]="i==getKeys(mf.data[0]).length-2?'table-head-action':''">
                                                        <mfDefaultSorter by="{{key}}"><span
                                                                class="table-key-text">{{getReadableFormat(key)}}</span>
                                                        </mfDefaultSorter>
                                                        <!--                                                        <button *ngIf="i==getKeys(mf.data[0]).length-2" mat-button-->
                                                        <!--                                                                class="gilded-button remediate-button">Remediate-->
                                                        <!--                                                        </button>-->
                                                    </div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let record of mf.data">
                                                <td *ngFor="let key of expandedTableFields; let i=index" mfSortByChange>
                                                    <div *ngIf="key!=='id' && key!=='account_no' && key!=='full_response' && key!=='filter_response' && key!=='required_response'"
                                                         class="row100-body"
                                                         [ngClass]="i===0?'table-data-first-child':''">
                                                        <span *ngIf="key!=='docInfo'">{{record[key]}}</span>
                                                        <span *ngIf="key==='docInfo'"><button mat-button
                                                                                              class="gilded-button documents-button"
                                                                                              (click)="showDocuments(record['accountNumber'], record['attemptNo'])">View Documents</button></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        </tbody>
                    </table>

                    <!--                    <table #mf="mfDataTable" mat-table [dataSource]="filteredData" multiTemplateDataRows [mfData]="filteredData" class="">-->

                    <!--                        <th *ngFor="let key of getKeys(mf.data[0]); let i=index" mfSortByChange>-->
                    <!--                            <div class="table-head"-->
                    <!--                                 [ngClass]="i==0?'table-head-first-child':i==getKeys(filteredData[0]).length-1?'table-head-last-child':''"-->
                    <!--                                 *ngIf="key!=='id' && itemList.includes(key)">-->
                    <!--                                <mfDefaultSorter by="{{key}}"><span-->
                    <!--                                        class="table-key-text">{{getReadableFormat(key)}}</span></mfDefaultSorter>-->
                    <!--                                <i class="fa fa-filter filter-icon" (click)="toggleQueryFilter(key)"></i>-->

                    <!--                                <i *ngIf="queryFilterData[key] && queryFilterData[key].filterData && queryFilterData[key].filterData.length"-->
                    <!--                                   class="fa fa-times-rectangle-o filter-icon"-->
                    <!--                                   (click)="clearFilter(key, false)"></i>-->
                    <!--                            </div>-->
                    <!--                            <div *ngIf="showQueryFilter && showQueryFilter[key]" class="filter-query-container">-->
                    <!--                                <div class="query-filter-action-container">-->
                    <!--                                    <button mat-button class="gilded-button" (click)="clearFilter(key)">Clear-->
                    <!--                                    </button>-->
                    <!--                                    <button mat-button class="gilded-button" (click)="applyQueryFilters(key)">-->
                    <!--                                        Apply-->
                    <!--                                    </button>-->
                    <!--                                </div>-->
                    <!--                                <div class="query-filter-selector">-->
                    <!--                                    <ng-multiselect-dropdown-->
                    <!--                                            [placeholder]="'Select ' + getReadableFormat(key) + ' to filter'"-->
                    <!--                                            [settings]="showQueryFilter && showQueryFilter[key]?queryFilterDropdownSettings:null"-->
                    <!--                                            [data]="queryFilterData[key].dropdownList"-->
                    <!--                                            [(ngModel)]="queryFilterData[key].filterData"-->
                    <!--                                    >-->
                    <!--                                    </ng-multiselect-dropdown>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </th>-->
                    <!--                        -->
                    <!--                        <tr matColumnDef="{{column}}" *ngFor="let column of columns">-->
                    <!--                            <th mat-header-cell *matHeaderCellDef> {{column}} </th>-->
                    <!--                            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>-->
                    <!--                        </tr>-->

                    <!--                        &lt;!&ndash; Expanded Content Column - The detail row is made up of this one column that spans across all columns &ndash;&gt;-->
                    <!--                        <ng-container matColumnDef="expandedDetail">-->
                    <!--                            <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">-->
                    <!--                                <div class="example-element-detail"-->
                    <!--                                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">-->
                    <!--&lt;!&ndash;                                    <div class="example-element-diagram">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        <div class="example-element-position"> {{element.position}} </div>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        <div class="example-element-symbol"> {{element.symbol}} </div>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        <div class="example-element-name"> {{element.name}} </div>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        <div class="example-element-weight"> {{element.weight}} </div>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    <div class="example-element-description">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        {{element.description}}&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        <span class="example-element-description-attribution"> &#45;&#45; Wikipedia </span>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
                    <!--                                    Hi..-->
                    <!--                                </div>-->
                    <!--                            </td>-->
                    <!--                        </ng-container>-->

                    <!--                        <tr mat-header-row *matHeaderRowDef="columns"></tr>-->
                    <!--                        <tr mat-row *matRowDef="let element; columns: columns;"-->
                    <!--                            class="example-element-row"-->
                    <!--                            [class.example-expanded-row]="expandedElement === element"-->
                    <!--                            (click)="expandedElement = expandedElement === element ? null : element">-->
                    <!--                        </tr>-->
                    <!--                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>-->

                    <!--                        <thead>-->
                    <!--                        <ng-container class="row100 head">-->
                    <!--                            <th *ngFor="let key of getKeys(mf.data[0]); let i=index" mfSortByChange>-->
                    <!--                                <div class="table-head"-->
                    <!--                                     [ngClass]="i==0?'table-head-first-child':i==getKeys(filteredData[0]).length-1?'table-head-last-child':''"-->
                    <!--                                     *ngIf="key!=='id' && itemList.includes(key)">-->
                    <!--                                    <mfDefaultSorter by="{{key}}"><span-->
                    <!--                                            class="table-key-text">{{getReadableFormat(key)}}</span></mfDefaultSorter>-->
                    <!--                                    <i class="fa fa-filter filter-icon" (click)="toggleQueryFilter(key)"></i>-->

                    <!--                                    <i *ngIf="queryFilterData[key] && queryFilterData[key].filterData && queryFilterData[key].filterData.length"-->
                    <!--                                       class="fa fa-times-rectangle-o filter-icon"-->
                    <!--                                       (click)="clearFilter(key, false)"></i>-->
                    <!--                                </div>-->
                    <!--                                <div *ngIf="showQueryFilter && showQueryFilter[key]" class="filter-query-container">-->
                    <!--                                    <div class="query-filter-action-container">-->
                    <!--                                        <button mat-button class="gilded-button" (click)="clearFilter(key)">Clear-->
                    <!--                                        </button>-->
                    <!--                                        <button mat-button class="gilded-button" (click)="applyQueryFilters(key)">-->
                    <!--                                            Apply-->
                    <!--                                        </button>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="query-filter-selector">-->
                    <!--                                        <ng-multiselect-dropdown-->
                    <!--                                                [placeholder]="'Select ' + getReadableFormat(key) + ' to filter'"-->
                    <!--                                                [settings]="showQueryFilter && showQueryFilter[key]?queryFilterDropdownSettings:null"-->
                    <!--                                                [data]="queryFilterData[key].dropdownList"-->
                    <!--                                                [(ngModel)]="queryFilterData[key].filterData"-->
                    <!--                                        >-->
                    <!--                                        </ng-multiselect-dropdown>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </th>-->
                    <!--                        </ng-container>-->
                    <!--                        </thead>-->
                    <!--                        <tbody>-->
                    <!--                        <tr *ngFor="let record of mf.data; let recordId=index">-->
                    <!--                            <td *ngFor="let key of getKeys(record); let i=index">-->
                    <!--                                <div class="row100 body" [ngClass]="i===0?'table-data-first-child':''"-->
                    <!--                                     *ngIf="key!=='id' && itemList.includes(key)">-->
                    <!--                                    {{getActualData(record[key], key, title, recordId)}}-->
                    <!--                                </div>-->
                    <!--                            </td>-->
                    <!--                        </tr>-->
                    <!--                        </tbody>-->
                    <!--                    </table>-->


                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <ngb-pagination [(page)]="page"
                        [pageSize]="itemsPerPage"
                        [collectionSize]="filteredData.length"
                        [maxSize]="5"
                        (pageChange)="lastPage()"
                        aria-label="Default pagination"></ngb-pagination>
        <ngb-pagination [collectionSize]="5" [pageSize]="1" [ellipses]="false" [maxSize]="5"
                        [boundaryLinks]="false"
                        [directionLinks]="false"
                        [(page)]="selectedItemsPerPageIndex"
                        (pageChange)="setItemsPerPage()"
                        aria-label="Custom pagination">
            <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
        </ngb-pagination>
    </div>
</div>
