<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
<!--    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0"-->
<!--         style="text-align: center; border-bottom:solid 1px rgba(0,0,0,0.3); padding-bottom: 0.3rem">-->
<!--        <span class="header-text">KYC Documents</span>-->
<!--        <i class="fa fa-close" style="color: red; float: right; cursor: pointer" (click)="close()"></i>-->
<!--    </div>-->
<!--    <div class="container rounded bg-white mt-5 mb-5">-->
<!--        <div class="row">-->
<!--            <div class="col-md-3 border-right">-->
<!--                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"-->
<!--                                                                                             width="150px"-->
<!--                                                                                             src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span-->
<!--                        class="font-weight-bold"></span><span-->
<!--                        class="text-black-50"><b>Live_Image</b></span><span> </span></div>-->
<!--                <div class="d-flex flex-column align-items-center text-center p-3 py-5 photo-details"><img-->
<!--                        class="rounded-circle mt-5"-->
<!--                        width="150px"-->
<!--                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span-->
<!--                        class="font-weight-bold"></span><span-->
<!--                        class="text-black-50"><b>Document_Image</b></span><span> </span></div>-->

<!--                <div class="photo-details">-->
<!--                    <b>Match Rate</b>: 99.8%<br><b>Match Status</b>: Success-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-5 border-right">-->
<!--                <div class="p-3 py-5">-->
<!--                    <div class="d-flex justify-content-between align-items-center mb-3">-->
<!--                        &lt;!&ndash;                        <h4 class="text-right">Profile Settings</h4>&ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="row mt-2">-->
<!--                        <div class="col-md-6 form-field"><label class="labels">First Name</label><input type="text"-->
<!--                                                                                                        disabled-->
<!--                                                                                                        class="form-control"-->
<!--                                                                                                        placeholder="first name"-->
<!--                                                                                                        value="Lera">-->
<!--                        </div>-->
<!--                        <div class="col-md-6 form-field"><label class="labels">Last Name</label><input type="text"-->
<!--                                                                                                       disabled-->
<!--                                                                                                       class="form-control"-->
<!--                                                                                                       value="Stroman"-->
<!--                                                                                                       placeholder="surname">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row mt-3">-->
<!--                        <div class="col-md-12 form-field"><label class="labels">Mobile Number</label><input type="text"-->
<!--                                                                                                            disabled-->
<!--                                                                                                            class="form-control"-->
<!--                                                                                                            placeholder="enter phone number"-->
<!--                                                                                                            value="1666192267">-->
<!--                        </div>-->
<!--                        <div class="col-md-12 form-field"><label class="labels">Address Line 1</label><input type="text"-->
<!--                                                                                                             disabled-->
<!--                                                                                                             class="form-control"-->
<!--                                                                                                             placeholder="enter address line 1"-->
<!--                                                                                                             value="4th main 24/5">-->
<!--                        </div>-->
<!--                        <div class="col-md-12 form-field"><label class="labels">Address Line 2</label><input type="text"-->
<!--                                                                                                             disabled-->
<!--                                                                                                             class="form-control"-->
<!--                                                                                                             placeholder="enter address line 2"-->
<!--                                                                                                             value="Vicentaview, Mississippi">-->
<!--                        </div>-->
<!--                        <div class="col-md-12 form-field"><label class="labels">Postcode</label><input type="text"-->
<!--                                                                                                       disabled-->
<!--                                                                                                       class="form-control"-->
<!--                                                                                                       placeholder="enter address line 2"-->
<!--                                                                                                       value="123456">-->
<!--                        </div>-->
<!--                        <div class="col-md-12 form-field"><label class="labels">Country</label><input type="text"-->
<!--                                                                                                      disabled-->
<!--                                                                                                      class="form-control"-->
<!--                                                                                                      placeholder="education"-->
<!--                                                                                                      value="USA"></div>-->
<!--                        <div class="col-md-12 form-field"><label class="labels">State</label><input type="text"-->
<!--                                                                                                    disabled-->
<!--                                                                                                    class="form-control"-->
<!--                                                                                                    placeholder="enter address line 2"-->
<!--                                                                                                    value="Mississippi">-->
<!--                        </div>-->
<!--                        <div class="col-md-12 form-field"><label class="labels">City</label><input type="text"-->
<!--                                                                                                   disabled-->
<!--                                                                                                   class="form-control"-->
<!--                                                                                                   placeholder="enter address line 2"-->
<!--                                                                                                   value="Vicentaview">-->
<!--                        </div>-->
<!--                        <div class="col-md-12 form-field"><label class="labels">Email ID</label><input type="text"-->
<!--                                                                                                       disabled-->
<!--                                                                                                       class="form-control"-->
<!--                                                                                                       placeholder="enter email id"-->
<!--                                                                                                       value="Lera_Stroman@gmail.com">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row mt-3">-->
<!--                        <div class="col-md-6 form-field"><label class="labels">Date of Birth</label><input type="text"-->
<!--                                                                                                           disabled-->
<!--                                                                                                           class="form-control"-->
<!--                                                                                                           placeholder="country"-->
<!--                                                                                                           value="27/04/1978">-->
<!--                        </div>-->
<!--                        <div class="col-md-6 form-field"><label class="labels">Gender</label><input type="text"-->
<!--                                                                                                    disabled-->
<!--                                                                                                    class="form-control"-->
<!--                                                                                                    value="Male"-->
<!--                                                                                                    placeholder="state">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;                    <div class="mt-5 text-center">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <button class="btn btn-primary profile-button" type="button">Save Profile</button>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="p-3 py-5">-->
<!--                    <div class="d-flex justify-content-between align-items-center experience">-->
<!--                        &lt;!&ndash;                        <span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i&ndash;&gt;-->
<!--                        &lt;!&ndash;                            class="fa fa-plus"></i>&nbsp;Experience</span>&ndash;&gt;-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    <div class="col-md-12 form-field"><label class="labels">Document Type</label><input type="text"-->
<!--                                                                                                        disabled-->
<!--                                                                                                        class="form-control"-->
<!--                                                                                                        placeholder="experience"-->
<!--                                                                                                        value="Aadhar">-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    <div class="col-md-12 form-field"><label class="labels">Verified Agent Status</label><input-->
<!--                            type="text"-->
<!--                            disabled-->
<!--                            class="form-control"-->
<!--                            placeholder="additional details"-->
<!--                            value="NA"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0"
         style="text-align: center; border-bottom:solid 1px rgba(0,0,0,0.3); padding-bottom: 0.3rem">
        <span class="header-text">KYC Documents</span>
        <i class="fa fa-close" style="color: red; float: right; cursor: pointer" (click)="close()"></i>
    </div>
    <button *ngIf="!viewRawData" mat-button class="gilded-button" style="float: right; margin-top: 0.2rem"
            (click)="toggleViewRawData()">
        View Raw Data
    </button>
    <button *ngIf="viewRawData && dataAvailable" mat-button class="gilded-button"
            style="float: right; margin-top: 0.2rem"
            (click)="toggleViewRawData()">
        Back
    </button>
    <div *ngIf="!viewRawData" class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                                                                             width="150px"
                                                                                             src="{{getImageSource(this.photoInfo.live_image)}}"><span
                        class="font-weight-bold"></span><span
                        class="text-black-50"><b>Live_Image</b></span><span> </span></div>
                <div class="d-flex flex-column align-items-center text-center p-3 py-5 photo-details"><img
                        class="rounded-circle mt-5"
                        width="150px"
                        src="{{getImageSource(this.photoInfo.document_image)}}"><span
                        class="font-weight-bold"></span><span
                        class="text-black-50"><b>Document_Image</b></span><span> </span></div>

                <div class="photo-details">
                    <b>Match Rate</b>: {{this.photoInfo.match_rate}}%<br><b>Match
                    Status</b>: {{this.photoInfo.match_status}}
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <!--                        <h4 class="text-right">Profile Settings</h4>-->
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 form-field"><label class="labels">Account Number</label><input type="text"
                                                                                                            disabled
                                                                                                            class="form-control"
                                                                                                            placeholder="NA"
                                                                                                            value="{{data.userRecord.account_no}}">
                        </div>
                        <div class="col-md-6 form-field"><label class="labels">Name</label><input type="text"
                                                                                                  disabled
                                                                                                  class="form-control"
                                                                                                  placeholder="NA"
                                                                                                  value="{{this.userInfo.name}}">
                        </div>
                        <!--                        <div class="col-md-6 form-field"><label class="labels">Last Name</label><input type="text"-->
                        <!--                                                                                                       disabled-->
                        <!--                                                                                                       class="form-control"-->
                        <!--                                                                                                       value="Stroman"-->
                        <!--                                                                                                       placeholder="surname">-->
                        <!--                        </div>-->
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 form-field"><label class="labels">Request Id</label><input type="text"
                                                                                                         disabled
                                                                                                         class="form-control"
                                                                                                         placeholder="NA"
                                                                                                         value="{{data.historyRecord.request_id}}">
                        </div>
                        <div class="col-md-12 form-field"><label class="labels">Mobile Number</label><input type="text"
                                                                                                            disabled
                                                                                                            class="form-control"
                                                                                                            placeholder="NA"
                                                                                                            value="NA">
                        </div>
                        <div class="col-md-12 form-field"><label class="labels">Address Line 1</label><input type="text"
                                                                                                             disabled
                                                                                                             class="form-control"
                                                                                                             placeholder="NA"
                                                                                                             value="{{this.userInfo.street}}">
                        </div>
                        <div class="col-md-12 form-field"><label class="labels">Address Line 2</label><input type="text"
                                                                                                             disabled
                                                                                                             class="form-control"
                                                                                                             placeholder="NA"
                                                                                                             value="{{this.userInfo.address}}">
                        </div>
                        <div class="col-md-12 form-field"><label class="labels">Postcode</label><input type="text"
                                                                                                       disabled
                                                                                                       class="form-control"
                                                                                                       placeholder="NA"
                                                                                                       value="{{this.userInfo.pc}}">
                        </div>
                        <div class="col-md-12 form-field"><label class="labels">Country</label><input type="text"
                                                                                                      disabled
                                                                                                      class="form-control"
                                                                                                      placeholder="NA"
                                                                                                      value="{{this.userInfo.country}}">
                        </div>
                        <div class="col-md-12 form-field"><label class="labels">State</label><input type="text"
                                                                                                    disabled
                                                                                                    class="form-control"
                                                                                                    placeholder="NA"
                                                                                                    value="{{this.userInfo.state}}">
                        </div>
                        <div class="col-md-12 form-field"><label class="labels">City</label><input type="text"
                                                                                                   disabled
                                                                                                   class="form-control"
                                                                                                   placeholder="NA"
                                                                                                   value="{{this.userInfo.vtc}}">
                        </div>
                        <div class="col-md-12 form-field"><label class="labels">Email ID</label><input type="text"
                                                                                                       disabled
                                                                                                       class="form-control"
                                                                                                       placeholder="NA"
                                                                                                       value="NA">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 form-field"><label class="labels">Date of Birth</label><input type="text"
                                                                                                           disabled
                                                                                                           class="form-control"
                                                                                                           placeholder="NA"
                                                                                                           value="{{this.userInfo.dob}}">
                        </div>
                        <div class="col-md-6 form-field"><label class="labels">Gender</label><input type="text"
                                                                                                    disabled
                                                                                                    class="form-control"
                                                                                                    value="{{this.userInfo.gender}}"
                                                                                                    placeholder="NA">
                        </div>
                    </div>
                    <!--                    <div class="mt-5 text-center">-->
                    <!--                        <button class="btn btn-primary profile-button" type="button">Save Profile</button>-->
                    <!--                    </div>-->
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <!--                        <span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i-->
                        <!--                            class="fa fa-plus"></i>&nbsp;Experience</span>-->
                    </div>
                    <br>
                    <div class="col-md-12 form-field"><label class="labels">Document Type</label><input type="text"
                                                                                                        disabled
                                                                                                        class="form-control"
                                                                                                        placeholder="NA"
                                                                                                        value="{{this.userInfo.doc_type}}">
                    </div>
                    <br>
                    <div class="col-md-12 form-field"><label class="labels">Verified Agent Status</label><input
                            type="text"
                            disabled
                            class="form-control"
                            placeholder="NA"
                            value="{{this.verifiedAgentInfo.status}}"></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="viewRawData">
        <pre>
            {{docInfo | json}}
        </pre>
    </div>
</div>
