<p>
    barchart works!
</p>

<div *ngIf="data.length">
    <ngx-charts-bar-vertical-normalized
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            [gradient]="gradient"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [barPadding]=15
            (select)="showDrillDown($event)">
    </ngx-charts-bar-vertical-normalized>
</div>
