<div *ngIf="data.length" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 chart-background">
    <div class="chart-header">
        {{header}}
    </div>
    <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            [gradient]="gradient"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="showLegend"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showDataLabel]="true"
            [roundEdges]="false"
            [barPadding]=barPadding
    >
    </ngx-charts-bar-vertical>
</div>
