<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <mat-card class="q-card">
    <mat-card-title style="width: 100%">
      <div class="card-h"><span class="float-left q-con"><i class="fa fa-line-chart" aria-hidden="true"></i> <b> Service Availability Monitor </b> </span>
        <div class="float-right" style="display: flex">
          <span class="q-con" style="padding-right: 7px"><b> Date Range: </b> </span>
          <div class='right-inner-addon date datepicker' >
            <i class="fa fa-calendar"></i>
            <input class="fx-date-range" type="text" matInput
                   ngxDaterangepickerMd
                   [locale]="{customRangeLabel: 'Custom Range', applyLabel: 'apply', format: 'MM/DD/YY'}"
                   [drops]="'down'"
                   [opens]="'left'"
                   [ranges]="ranges"
                   [showCustomRangeLabel]="true"
                   [alwaysShowCalendars]="true"
                   [keepCalendarOpeningWithRange]="true"
                   [showCancel]="true"
                   [minDate]="minDate"
                   [maxDate]="maxDate"
                   autocomplete="off"
                   [(ngModel)]="selectedDateRange"
                   (ngModelChange)="getAutomationResultForProjects()"
                   [disabled]="componentLoading"
                   name="daterange"/>
          </div>
        </div>
      </div>
    </mat-card-title>
    <!--      <mat-card-title><div class="card-h"><span><i class="fa fa-line-chart" aria-hidden="true"></i><b> Quality Meter</b></span></div></mat-card-title>-->
  </mat-card>
</div>
<div *ngIf="componentLoading" class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
    <div style="height: 80vh;
                          display: flex;
                          align-items: center;
                          margin-left: 48%;">
      <div>
        <img src="assets/images/loading.gif" height="50"/>
      </div>
    </div>
  </div>
</div>

<div  *ngIf="!componentLoading && !projectsHasData()" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <mat-card class="sts-c">
    <mat-card-title>
      <div class="card-h text-center">No Data Found
      </div>
    </mat-card-title>
  </mat-card>
</div>

<ng-container *ngIf="!componentLoading && !showBuildAnalytics && projectsHasData()">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p-0">
      <mat-card class="top-row">

        <mat-card-title><div class="card-h"><span><i class="fa fa-line-chart" aria-hidden="true"></i><b> Quality Meter</b></span></div></mat-card-title>



        <div class="chart-container">
          <rg-gauge-chart
                  [canvasWidth]="canvasWidth"
                  [needleValue]="needleValue"
                  [centralLabel]="centralLabel"
                  [options]="options"
                  [name]="name"></rg-gauge-chart>
          </div>
      </mat-card>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pr-0">
      <mat-card class=" top-row">
        <mat-card-title><div class="card-h"><span><i class="fa fa-line-chart" aria-hidden="true"></i><b> Quality Matrix</b></span></div></mat-card-title>

        <div class="country-table-container ">
          <table class="country-table">
            <tr class="table-header">
              <ng-container *ngFor="let key of countryColumns">
                <th>
                  <div>{{key}}</div>
                </th>
              </ng-container>
            </tr>
            <ng-container *ngFor="let project of projects; let i = index">
              <tr *ngIf="!project.noData">
                <td>
                  <div><span class="pj-name" (click)="openFilterData(i, {})">{{project['project']['title']}}</span></div>
                </td>
                <td class="text-center">
                  <div class="sts-c"><i [ngClass]="getCountryStatus(i, {geoLocation: ['US']})" style="cursor: pointer" (click)="openFilterData(i, {geoLocation: ['US']}, 0)"></i> <span class="sts-p-c"> {{getCountryPassRate(i, {geoLocation: ['US']})}}%</span></div>
                </td>
                <td class="text-center">
                  <div class="sts-c"><i [ngClass]="getCountryStatus(i, {geoLocation: ['AE']})" style="cursor: pointer" (click)="openFilterData(i, {geoLocation: ['AE']}, 0)"></i> <span class="sts-p-c"> {{getCountryPassRate(i, {geoLocation: ['AE']})}}%</span></div>
                </td>
                <td class="text-center">
                  <div class="sts-c"><i [ngClass]="getCountryStatus(i, {geoLocation: ['IN']})" style="cursor: pointer" (click)="openFilterData(i, {geoLocation: ['IN']}, 0)"></i> <span class="sts-p-c"> {{getCountryPassRate(i, {geoLocation: ['IN']})}}%</span></div>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 69vh">

    <mat-card class="col-md-12 col-lg-12 col-sm-12 col-xs-12 trend-container">
      <mat-card-title><div class="card-h"><span><i class="fa fa-line-chart" aria-hidden="true"></i><b> Test Results</b></span>

        </div>
      </mat-card-title>

      <ng-container *ngFor="let project of projects; let i = index">
        <mat-card *ngIf="!project.noData" class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mt-10">
          <div style="font-size: 14px; margin-bottom: 5px"><span class="pj-name" (click)="openFilterData(i, {})"><b>{{project['project']['title']}}</b></span></div>

          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <mat-card>
              <span style="font-size: 14px"><span class="pj-trend" (click)="openFilterData(i, {})"><b>Test Result Trend</b></span></span>
              <div>
                <canvas baseChart width="250" height="250"
                        [datasets]="project.lineChartData"
                        [labels]="project.lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                </canvas>
              </div>
            </mat-card>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <mat-card style="display: flow-root">
              <div style="font-size: 14px; padding-bottom: 5px"><span class="pj-name" (click)="openFilterData(i, {}, 0)"><b>Latest Test Result</b></span> <span class="pj-sa" >Started At: {{getDate(project['latestBuild']['startedAt'])}}</span></div>

                  <div class = "col-md-8 col-lg-8 col-sm-8 col-xs-8 p-0">
                    <mat-card class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card-c">
                      <span style="font-size: 11px"><b>Tests</b></span>
                      <div class="chart-container" style="padding-top: 25px;">
                        <canvas baseChart
                                [data]="project.doughnutChartData"
                                [labels]="project.doughnutChartLabels"
                                [legend]=""
                                [chartType]="project.chartType"
                                [colors]="project.doughnutColors"
                                [options]="project.doughnutChartOptions" style="height: 121px;width: 240px;"></canvas>
                      </div>
                    </mat-card>
                  </div>
                  <div *ngIf="project['latestBuild']" class = "col-md-4 col-lg-4 col-sm-4 col-xs-4 p-0">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <mat-card class="card-i">
                        <div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12 inner-card">
                          <label class = "form-field-label"> Pass Rate </label><br>
                          {{getPassRate(project['latestBuild']['passed'], project['latestBuild']['tests'])}} %
                        </div>
                      </mat-card>
                      <mat-card class="card-i" style="margin-top: 10px;">
                        <div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12 inner-card">
                          <label class = "form-field-label"> Tests Passed </label><br>
                          {{project['latestBuild']['passed']}}
                        </div>
                      </mat-card>
                      <mat-card class="card-i" style="margin-top: 10px;">
                        <div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12 inner-card">
                          <label class = "form-field-label"> Tests Failed </label><br>
                          {{project['latestBuild']['failed']}}
                        </div>
                      </mat-card>
                      <mat-card class="card-i" style="margin-top: 10px;">
                        <div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12 inner-card">
                          <label class = "form-field-label"> Tests Skipped </label><br>
                          {{project['latestBuild']['skipped']}}
                        </div>
                      </mat-card>
                    </div>
                  </div>
            </mat-card>
          </div>


        </mat-card>
      </ng-container>
    </mat-card>
  </div>
</ng-container>

<ng-container *ngIf="!componentLoading && showBuildAnalytics">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 89vh">
      <app-automation-report [buildsData]="buildsData"
                             [projectData]="projectData"
                             [currentActiveIndex]="buildsCurrentActiveIndex" (backBtnClicked)="showBuildAnalytics = false"></app-automation-report>
  </div>
</ng-container>
