.p-0 {
  padding: 0px;
}
.pr-0 {
  padding-right: 0px;
}

.chart-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.top-row {
  height: 22vh;
}

.trend-container {
  display: block;
  margin-top: 10px;
  min-height: 40vh;
}

.mt-10 {
  margin-top: 10px !important;
}


.country-table {
  width: 100%;
  border-collapse: collapse;
}

.country-table td, .country-table th {
  border: 1px solid #ddd;
  padding: 10px;
}

.country-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.country-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
}

.country-table-container {
  width: 100%;
  height: 17vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
}

.card-c {
  height: 24vh;
}

.message-column {
  width: 65%;
}

.timestamp-column {
  width: 35%;
}

.pj-name {
  cursor: pointer;
  font-size: 0.8rem;
  color: #0d71bb;
}

.pj-trend {
  cursor: pointer;
  font-size: 0.8rem;
}

.card-h {
  font-size: 0.8rem;
}

.pj-name:hover {
  color: #05385d;
  font-size: 0.8rem;
}

.pj-sa {
  color: #767777;
  font-size: 0.7rem;
  padding-right: 10px;
  float: right;
  padding-top: 2px;
}

.card-c {
  //padding: 7px;
  height: 24vh;
}

.icn-r {
  color: #f44041;
  font-size: 1.4rem;
}

.icn-g {
  color: #48ce49;
  font-size: 1.4rem;
}

.icn-y {
  color: #fadb42;
  font-size: 1.4rem;
}

.icn-b {
  color: black;
  font-size: 1.4rem;
}


.chart-c {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
}

.inner-card {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-i {
  display: flex;
  padding: 7px;
}

