<!--<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">-->
<!--    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">-->
<!--        Hi..-->
<!--    </div>-->
<!--    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">-->
<!--        Hii..-->
<!--    </div>-->
<!--    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">-->
<!--        Hiii...-->
<!--    </div>-->
<!--    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">-->
<!--        Hiiii......-->
<!--    </div>-->

<!--</div>-->

<div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon total-inventory">
                    <i class="material-icons">store</i>
                </div>
                <div class="card-details">
                    <h3 class="details-text">Total Inventory</h3>
                    <h4 class="details-text">81300 <span style="font-weight: normal">gm</span></h4>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">warning</i> Inventory is running out
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon available-inventory">
                    <!--                    <i class="material-icons">store</i>-->
                    <i class="fa fa-archive"></i>
                </div>
                <div class="card-details">
                    <h3 class="details-text">Available Inventory</h3>
                    <h4 class="details-text">78893.5 <span style="font-weight: normal">gm</span></h4>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">warning</i> Inventory is running out
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon bought">
                    <i class="material-icons">info_outline</i>
                </div>
                <div class="card-details">
                    <h3 class="details-text">Customer Bought</h3>
                    <h4 class="details-text">2991.5 <span style="font-weight: normal">gm</span></h4>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> Last bought on 05/11/2021
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon sold">
                    <i class="fa fa-money"></i>
                </div>
                <div class="card-details">
                    <h3 class="details-text">Customer Sold</h3>
                    <h4 class="details-text">585.05 <span style="font-weight: normal">gm</span></h4>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i>Updated just now
                </div>
            </div>
        </div>
    </div>
</div>
