<div *ngIf="!isDataloading" class="container">
    <mat-accordion class="col-lg-12 col-md-12 col-sm-12 col-xs-12 chart-container">
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                AML Exceptions
            </mat-expansion-panel-header>
            <div class="stats-container">
                <!--                <mat-accordion class="col-lg-5 col-md-5 col-sm-12 col-xs-12">-->
                <!--                    <mat-expansion-panel expanded="true">-->
                <!--                        <mat-expansion-panel-header>-->
                <!--                            KYC Status-->
                <!--                        </mat-expansion-panel-header>-->
                <!--                        <div>-->
                <!--                            <app-donut [data]="statusChartData" [header]="statusChartHeader"-->
                <!--                                       (drillDown)="showDrillDownDetails($event)"></app-donut>-->
                <!--                        </div>-->
                <!--                    </mat-expansion-panel>-->
                <!--                </mat-accordion>-->
                <!--                <mat-accordion class="col-lg-5 col-md-5 col-sm-12 col-xs-12">-->
                <!--                    <mat-expansion-panel expanded="true">-->
                <!--                        <mat-expansion-panel-header>-->
                <!--                            No. of attempts-->
                <!--                        </mat-expansion-panel-header>-->
                <!--                        <div>-->
                <!--                            <app-donut [data]="attemptsChartData" [header]="attemptsChartHeader"-->
                <!--                                       [colorScheme]="attemptsColorScheme"-->
                <!--                                       (drillDown)="showDrillDownDetails($event)"></app-donut>-->
                <!--                        </div>-->
                <!--                    </mat-expansion-panel>-->
                <!--                </mat-accordion>-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--                    <app-donut [data]="statusChartData" [header]="statusChartHeader"-->
                    <!--                               (drillDown)="showDrillDownDetails($event)"></app-donut>-->
                    <app-barchart [data]="statusChartData" [header]="statusChartHeader" [view]="[800, 380]"
                                  [barPadding]="50" [showLegend]="false" [xAxisLabel]="'Status'"
                                  [yAxisLabel]="'No.of Users'"
                                  (drillDown)="showDrillDownDetails($event)"></app-barchart>
                </div>
                <!--                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
                <!--                    &lt;!&ndash;                    <app-donut [data]="attemptsChartData" [header]="attemptsChartHeader"&ndash;&gt;-->
                <!--                    &lt;!&ndash;                               [colorScheme]="attemptsColorScheme"&ndash;&gt;-->
                <!--                    &lt;!&ndash;                               (drillDown)="showDrillDownDetails($event)"></app-donut>&ndash;&gt;-->
                <!--                    <app-barchart [data]="attemptsChartData" [header]="attemptsChartHeader"-->
                <!--                                  [xAxisLabel]="'No.of Attempts'"-->
                <!--                                  [yAxisLabel]="'No.of Users'"-->
                <!--                                  (drillDown)="showDrillDownDetails($event)"></app-barchart>-->
                <!--                </div>-->
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <!--    <table class="table table-striped">-->
    <!--        <tr>-->
    <!--            <th *ngFor="let key of getKeys(kycDetails[0])">-->
    <!--                {{key}}-->
    <!--            </th>-->
    <!--        </tr>-->
    <!--        <tr *ngFor="let kyc of kycDetails">-->
    <!--            <td *ngFor="let key of getKeys(kyc)">-->
    <!--                {{kyc[key]}}-->
    <!--            </td>-->
    <!--        </tr>-->
    <!--    </table>-->
    <div *ngIf="!showDrillDown" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-chart-drill-down [apiUrl]="env.amlUrl" [includesParams]="false" [data]="kycDetails"
                              [kycHistory]="kycHistory" [isDrillDown]="false"
                              [remediateKey]="'Response_Code'"
                              [expandKey]="'kyc_check_count'"
                              [remediateIdentifiers]="remediateIdentifiers"
                              [fields]="columns"
                              (viewDocuments)="openDocumentViewer($event)"
                              (viewRemediations)="openRemediations($event)"
                              (queryFilters)="applyFilters($event)"></app-chart-drill-down>
    </div>

    <!-- Table with panel -->
    <!--    <div class="card card-cascade narrower">-->

    <!--        &lt;!&ndash;Card image&ndash;&gt;-->
    <!--        <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">-->

    <!--            <div>-->
    <!--                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">-->
    <!--                    <i class="fas fa-th-large mt-0"></i>-->
    <!--                </button>-->
    <!--                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">-->
    <!--                    <i class="fas fa-columns mt-0"></i>-->
    <!--                </button>-->
    <!--            </div>-->

    <!--            <a href="" class="white-text mx-3">Table name</a>-->

    <!--            <div>-->
    <!--                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">-->
    <!--                    <i class="fas fa-pencil-alt mt-0"></i>-->
    <!--                </button>-->
    <!--                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">-->
    <!--                    <i class="far fa-trash-alt mt-0"></i>-->
    <!--                </button>-->
    <!--                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">-->
    <!--                    <i class="fas fa-info-circle mt-0"></i>-->
    <!--                </button>-->
    <!--            </div>-->

    <!--        </div>-->
    <!--        &lt;!&ndash;/Card image&ndash;&gt;-->

    <!--        <div class="px-4">-->

    <!--            <div class="table-wrapper">-->
    <!--                &lt;!&ndash;Table&ndash;&gt;-->
    <!--                <table class="table table-hover mb-0">-->

    <!--                    &lt;!&ndash;Table head&ndash;&gt;-->
    <!--                    <thead>-->
    <!--                    <tr>-->
    <!--                        <th>-->
    <!--                            <input class="form-check-input" type="checkbox" id="checkbox">-->
    <!--                            <label class="form-check-label" for="checkbox" class="mr-2 label-table"></label>-->
    <!--                        </th>-->
    <!--                        <th class="th-lg">-->
    <!--                            <a>First Name-->
    <!--                                <i class="fas fa-sort ml-1"></i>-->
    <!--                            </a>-->
    <!--                        </th>-->
    <!--                        <th class="th-lg">-->
    <!--                            <a href="">Last Name-->
    <!--                                <i class="fas fa-sort ml-1"></i>-->
    <!--                            </a>-->
    <!--                        </th>-->
    <!--                        <th class="th-lg">-->
    <!--                            <a href="">Username-->
    <!--                                <i class="fas fa-sort ml-1"></i>-->
    <!--                            </a>-->
    <!--                        </th>-->
    <!--                        <th class="th-lg">-->
    <!--                            <a href="">Username-->
    <!--                                <i class="fas fa-sort ml-1"></i>-->
    <!--                            </a>-->
    <!--                        </th>-->
    <!--                        <th class="th-lg">-->
    <!--                            <a href="">Username-->
    <!--                                <i class="fas fa-sort ml-1"></i>-->
    <!--                            </a>-->
    <!--                        </th>-->
    <!--                        <th class="th-lg">-->
    <!--                            <a href="">Username-->
    <!--                                <i class="fas fa-sort ml-1"></i>-->
    <!--                            </a>-->
    <!--                        </th>-->
    <!--                    </tr>-->
    <!--                    </thead>-->
    <!--                    &lt;!&ndash;Table head&ndash;&gt;-->

    <!--                    &lt;!&ndash;Table body&ndash;&gt;-->
    <!--                    <tbody>-->
    <!--                    <tr>-->
    <!--                        <th scope="row">-->
    <!--                            <input class="form-check-input" type="checkbox" id="checkbox1">-->
    <!--                            <label class="form-check-label" for="checkbox1" class="label-table"></label>-->
    <!--                        </th>-->
    <!--                        <td>Mark</td>-->
    <!--                        <td>Otto</td>-->
    <!--                        <td>@mdo</td>-->
    <!--                        <td>Mark</td>-->
    <!--                        <td>Otto</td>-->
    <!--                        <td>@mdo</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <th scope="row">-->
    <!--                            <input class="form-check-input" type="checkbox" id="checkbox2">-->
    <!--                            <label class="form-check-label" for="checkbox2" class="label-table"></label>-->
    <!--                        </th>-->
    <!--                        <td>Jacob</td>-->
    <!--                        <td>Thornton</td>-->
    <!--                        <td>@fat</td>-->
    <!--                        <td>Jacob</td>-->
    <!--                        <td>Thornton</td>-->
    <!--                        <td>@fat</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <th scope="row">-->
    <!--                            <input class="form-check-input" type="checkbox" id="checkbox3">-->
    <!--                            <label class="form-check-label" for="checkbox3" class="label-table"></label>-->
    <!--                        </th>-->
    <!--                        <td>Larry</td>-->
    <!--                        <td>the Bird</td>-->
    <!--                        <td>@twitter</td>-->
    <!--                        <td>Larry</td>-->
    <!--                        <td>the Bird</td>-->
    <!--                        <td>@twitter</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <th scope="row">-->
    <!--                            <input class="form-check-input" type="checkbox" id="checkbox4">-->
    <!--                            <label class="form-check-label" for="checkbox4" class="label-table"></label>-->
    <!--                        </th>-->
    <!--                        <td>Paul</td>-->
    <!--                        <td>Topolski</td>-->
    <!--                        <td>@P_Topolski</td>-->
    <!--                        <td>Paul</td>-->
    <!--                        <td>Topolski</td>-->
    <!--                        <td>@P_Topolski</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <th scope="row">-->
    <!--                            <input class="form-check-input" type="checkbox" id="checkbox5">-->
    <!--                            <label class="form-check-label" for="checkbox5" class="label-table"></label>-->
    <!--                        </th>-->
    <!--                        <td>Larry</td>-->
    <!--                        <td>the Bird</td>-->
    <!--                        <td>@twitter</td>-->
    <!--                        <td>Larry</td>-->
    <!--                        <td>the Bird</td>-->
    <!--                        <td>@twitter</td>-->
    <!--                    </tr>-->
    <!--                    </tbody>-->
    <!--                    &lt;!&ndash;Table body&ndash;&gt;-->
    <!--                </table>-->
    <!--                &lt;!&ndash;Table&ndash;&gt;-->
    <!--            </div>-->

    <!--        </div>-->

    <!--    </div>-->
    <!-- Table with panel -->
</div>

<div *ngIf="showDrillDown" class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!--        <app-chart-drilldown (hideDetails)="hideDrillDownDetails()" [data]="drillDownData"-->
        <!--                             [title]="drillDownTitle"></app-chart-drilldown>-->
        <app-chart-drill-down (hideDetails)="hideDrillDownDetails()" [apiUrl]="env.amlUrl" [includesParams]="true"
                              [paramsToBePassed]="drillDownQueryParams" [data]="drillDownData" [kycHistory]="kycHistory"
                              [fields]="columns"
                              (viewRemediations)="openRemediations($event)"
                              (viewDocuments)="openDocumentViewer($event)" [title]="drillDownTitle"
                              (queryFilters)="applyFilters($event)"></app-chart-drill-down>
    </div>
</div>
