/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background-color: whitesmoke !important;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    color:darkgray !important;
}

h1, h2{
    color: #6e6e6e !important;
}

::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(93, 100, 148, 0.51);
    opacity: 0.8;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(93, 100, 148, 0.51);
    opacity: 0.8;
}

.scroll-h {
    overflow-x: auto;
    overflow-y: hidden;
}

.mat-tooltip {
    font-size: 12px !important;
}

.m-10 {
    margin: 10px;
}

.mat-card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.gilded-btn {
    background-color: #5b5b5b !important;
    color: #ffffff !important;
    height: 2rem;
    font-size: 11px !important;
    font-weight: bold !important;
    border-radius: 6px;
    cursor: pointer;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 11px !important;
    line-height: 1;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.gilded-button{
    background-color: black;
    color: white;
    font-size: 0.8rem;
    padding: 0px !important;
    line-height: 2rem !important;
}
