.pay-now-button {
  padding: 0.4rem;
  background: #8dc63f;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 0.8rem;
}

.cancel-button {
  padding: 0.4rem;
  background: red;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 0.8rem;
}

.contents {
  padding-bottom: 2rem;
}

.products {
  list-style-type: none;
}

.table-head {
  background-color: #aaaaaa;
}

.actions {
  width: 165px;
}

.a-box-group>.a-box.a-first, .a-box-group>.a-box:first-child, .a-box-group>.a-box:first-of-type {
  border-radius: 8px 8px 0 0;
  margin-top: 0;
}

.order-cards{
  background-color: white;
  margin: 2px;
  font-size:small;
  margin: 10px;
  border-radius: 5px;
}

.order-id{
  align-items: center;
}

.order-id-number{
  font-size: 15px;
}

.order-id-title{
  font-size: 18px;
}

.order-number{
  padding-right: 10px;
}

.order-date{
  text-align: center;
  position: absolute;
  right: 42%;
  // padding-left: 10px;
  // justify-content: right;
}

.order-date-title{
  font-size: 18px;
}

.order-date-text{
  font-size: 15px;
}

.order-action{
  font-size: 18px;
  position: absolute;
  right: 0;
  padding-right: 10px;
  // left: 50%;
}

.order-title{
  font-size: 16px;
}

.order-footer{
  padding-left: unset;
  left: 0;
  border: none;
}

.order-amounts{
  font-style: italic;
  color: black;
}

.order-total{
  color: #8dc63f;
  font-size: 16px;
}

.order-shipping-address{
  position: absolute;
  right: 0;
  text-align: right;
}

.order-ship-to{
  // position: absolute;
  // right: 25%;
  float: right;
  text-align: center;
  padding-right: 10px;
}

// .contents {
//   display: contents;
// }

.track-order-button{
  float: right;
}
// .order-header{
//   background-color: #8dc63f;
// }

hr.shipping-address {
  border: 0;
  border-bottom: 1px dashed #ccc;
  // background: linear-gradient(to right, #ccc,  rgba(0, 0, 0, 0));
  // background: #ccc;
}

hr.hr-product-name {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc,  rgba(0, 0, 0, 0));
}

hr.order-amounts-hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.arrow-right{
  font-size: 20px;
}
